.box{
    height: 300px;
    background: rgb(224, 222, 222);
    text-align: center;
}
.dropbtn{
    display: none;
}
@media(max-width:400px){
.dropbtn{
    display: block;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
}
}
.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #3a444e;
}
@media(max-width:400px){
    .top-bar{
    }
}
.sub-top{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.top-social{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
h1{
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(3, 34, 0);
}
@media(max-width:400px){
h1{
    padding-left: 40px;
    font-family: sans-serif;
    font-size: 10px;
}
}
.top-bar-heading{
    list-style: none;
    padding: 0px 12px 24px 40px;
    font-size: 20px;
    font-family: sans-serif;
     
}
@media(max-width:400px){
.top-bar-heading{
    display: none;
}
}
h2{
    padding-top: 80px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -20px;
    text-align: center;
}
@media(max-width:400px){
    .card{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
}
.card1{
    border-top: 10px solid #D4D2D7;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #000000;
    width: 300px;
    height: 500px;
}
@media(max-width:400px){
.card1{
    margin-top: 20px;
}
}
.card2{
    border-top: 10px solid #6E87C5;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #000000;
    width: 300px;
    height: 500px;
}
@media(max-width:400px){
.card2{
    margin-top: 20px;
}
}
.card3{
    border-top: 10px solid #B08C82;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #000000;
    width: 300px;
    height: 500px;
}
@media(max-width:400px){
.card3{
    margin-top: 20px;
}
}
b{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
}
li{
    list-style: none;
    font-size: 20px;
    color: rgb(73, 71, 71);
    font-size: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
ul{
    margin-right: 15%;
    font-size: 30px;
}
.btn{
    background: #ffffff;
    width: 150px;
    height: 40px;
}
.btn1{
    margin-top: 80px;
}
.btn2{
    margin-top: 65px;
}
.btn3{
    margin-top: 30px;
}
.more{
    text-align: center;
    color: rgb(53, 52, 52);
    margin-top: 50px;
}
a{
    color: rgb(11, 45, 131);
}
.footer{
    height: 100px;
    background:rgb(224, 222, 222);
    margin-top: 20px; 
}