
.bgimg{
    background: linear-gradient(150deg,#53f 15%,#5E4AA4 70%,#783A98 94%);
    height: 1000px;
}
.logo{
    font-size: 20px;
    font-weight: 100;
}
.sub-top{
    color: #ffffff;
}

.menu-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ffffff;
    padding-top: 5px;
}   
.announce{
    background: #3D2BFF;
    height: 40px;
    color: #ffffff;
    padding-top: 4px;
    display: flex;
    flex-direction: row;
}

.announce-text{
    padding-top: 7px;
    padding-right: 15px;
}
.new{
    border-radius: 20px;
    width: 70px;
    height: 30px;
    padding-top: 8px;
    text-align: center;
    background-color: #1DBD1D;
    color: #ffffff;
}

h1{
    font-size: 40px;
    color: #ffffff;
    }

h2{
    font-size: 30px;
    color: #ffffff;
    line-height: 50px;
}

.cta-direction{
    display: flex;
    padding-top: 40px;
}
button{
    width: 200px;
    height: 40px;
    margin-left: 20px;
}
.COMPLETE-TOOLKIT{
    color:  #1DBD1D;
    display: flex;
    font-size: 20px;
    }
.build-The-Next{
    text-align: justify;
    font-size: 23px;
    color: #989696; 
    line-height: 40px;      
    }

.mobile{
    }

.Discover-how-businesses{
    color: #1DBD1D;
    font-size: 35px;
    margin-left: 50px;
    }
.aero{
    padding: 0%;
    }
.developer-direction{
    display: flex;
    justify-content: center;
    }
.DEVELOPERS-FIRST{
    color: #1DBD1D;
    text-align: center;
    font-size: 40px;
    margin-top: -3%;
    }
.para-DEVELOPERS-FIRST{
    text-align: center;
    font-size: 30px;
    word-spacing: 2px;
    line-height: 40px;
    } 
.card-direction{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
.card{
    display: flex;
    flex-direction: column;
    text-align:justify;
    width: 500px;
    height: 200px;
    }
.brand{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    }
.icon1{
    width: 50%;
    margin-top: -15px;
    }
.box-paragraph{
    margin-left: 0%;
    margin-right: 20px;
    line-height: 20px;
    text-align: justify;
    color: rgba(58, 56, 56, 0.8);
    }
.subscribe-direction{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    }
.account{
    line-height: 30px;
}   
   /* Mobile View */
@media(max-width:400px){    
.developer-direction{
    height: 260px;
}
.subscribe-direction{
    display: flex;
    flex-direction: column;
    text-align: center;
    }
h3{
    font-size: 15px;
    }
.brand{
    display: none;
    }
.card{
    width: 300px;
    height: 250px;
    margin-top: 20px;
    }
.card-direction{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.para-DEVELOPERS-FIRST{
    font-size: 15px;
    padding: 0px 20px 0px 20;
    text-align: justify;
    line-height: 25px;
    }
.DEVELOPERS-FIRST{
    font-size: 20px;
    }
.aero{
    display: none;
    }
.Discover-how-businesses{
    font-size: 15px;
    margin-top: 0%;
    text-align: center;
    margin-left: 0px;
    }
.mobile{
   display: none;
    }
.build-The-Next{
    padding: 0px 0px 0px 0px;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    }
.toolkit-logo{
    width: 50px;
    
    }
.COMPLETE-TOOLKIT{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    font-size: 15px;
    margin-left: 10%;
    margin-right: 0%;
    margin-top: 0%;
    }
.cta{
    width: 140px;   
    font-size: 10px;
    }
.tablet{
    display: none;
    }
h2{
    text-align: center;
    font-size: 15px;
    line-height: 20px;

   }
h1{
    text-align: center;
    font-size: 20px;
    }
.new{
    width: 60px;
    padding-top: 8px;
    padding-right: 1px;
    }
.header{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    }
.sub-top{
    display: none;
    }
.bgimg{
    height: 60%;
    }
.logo{
 
}
.menu-bar a{display: none;}
.account{
font-size: 20px;     
}
.contact{margin-top: 10px;}}