.box{
    height: 300px;
    background: rgb(224, 222, 222);
    text-align: center;
}
.dropbtn{
    display: none;
}
@media(max-width:400px){
.dropbtn{
    display: block;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
}
}
.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #3a444e;
}
@media(max-width:400px){
.top-bar{
    }
}
.sub-top{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.top-social{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
h1{
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}
h1 a{color: #000000;}
@media(max-width:400px){
h1{
    padding-left: 40px;
    font-family: sans-serif;
    font-size: 10px;
}
}
.top-bar-heading{
    list-style: none;
    padding: 0px 12px 24px 40px;
    font-size: 20px;
    font-family: sans-serif;
     color: #000000;
}
@media(max-width:400px){
.top-bar-heading{
    display: none;
}
}nn
h2{
    padding-top: 80px;
}
.cards-direction{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -20px;
    text-align: center;
}
@media(max-width:400px){
.cards-direction{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    }
}
.card{
    background: #ffffff;
    border-radius: 5px;
    width: 300px;
    height: 500px;
    padding-top: 10px;
}
@media(max-width:400px){
.card{
    margin-top: 20px;
}
}
.card b{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
}
.card li{
    list-style: none;
    font-size: 20px;
    color: rgb(73, 71, 71);
    font-size: 15px;
    padding-top: 25px;
    line-height: 15px;
}
.card ul{
    font-size: 30px;
    line-height: 40px;
    color: #6E87C5;
}
button{
    color: #ffffff;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 3px;
}
.more-information{
    text-align: center;
    color: rgb(53, 52, 52);
    margin-top: 50px;
}
.blue-payment{
    border-top: 10px solid #2196F3;
}
.green-payment{border-top: 10px solid rgb(39, 143, 39);}