.top-bar{
    background: linear-gradient(#9fd4f7 50%,rgba(175, 29, 29, 0) 50% );
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.heading{
    display: flex;
    flex-direction: row;
    font-size: 20px; 
}
h3{
    padding-top: 12px;
    color:#ffffff;
}
ul{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 12px;
}
ul li{
    list-style-type: none;
    padding-left: 50px;
}